* {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: Merriweather, serif;
}

#guacamole {
    width: 800px;
    height: auto;
}

img {
    max-width: 30%;
}

li {
    margin-bottom: 15px;
}

p, li {
    max-width: 60rem;
}